.logo-area {
    width: 50%;
    margin: 0 auto;
    margin-top: 15%;
}

.login-panel {
    margin-top: 10%;
}

.add-btn {
    margin-bottom: 10px;
}

.padding-small {
    padding: 30px;
}

.padding-x-small {
    padding: 10px !important;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    opacity: 0.4;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.container {
    width: 90% !important;
}

.custom-nav {
    background-color: #f35627 !important;
}

.custom-orange-color {
    background-color: #f35627 !important;
}

.custom-orange-text {
    color: #f35627 !important;
}

.custom-cart-title {
    padding: 5px !important;
    font-size: 12px !important;
}

.custom-footer {
    background-color: rgb(134, 133, 133) !important;
}

.custom-card-content {
    padding: 10px !important;
    height: 200px;
    overflow-x: auto;
}

.custom-card-content h6 {
    font-weight: bold;
}

.custom-breadcrumb {
    padding-left: 2% !important;
}

.margin-top-medium {
    margin-top: 50px;
}

.margin-small {
    margin: 10px;
}

.sharer-label {
    height: 40px;
}


.pagination li {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
}

.pagination li a {
  color: #444;
}

.pagination li.active a {
  color: #fff;
}

.pagination li.active {
  background-color: #ee6e73;
}

.pagination li.disabled a {
  cursor: default;
  color: #999;
}

.pagination li i {
  font-size: 2.2rem;
  vertical-align: middle;
}

.pagination li.pages ul li {
  display: inline-block;
  float: none;
}

nav .brand-logo {
  margin-left: 20px;
}
nav form {
  margin-left: 180px;
  width: 300px;
}

.autocomplete-content {
    position: absolute;
    width: 100%;
}

.spinner-wrapper {
  display: block;
  margin: 0 auto;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.parallax-container {
  height: 300px;
}

@media only screen and (max-width: 992px) {
  .pagination {
    width: 100%;
  }
  .pagination li.prev,
  .pagination li.next {
    width: 10%;
  }
  .pagination li.pages {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
  }
}



@media only screen and (min-width: 601px) {

    .custom-row .col.m3 {
        width: 20%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

}

@media only screen and (max-width: 450px) {
  nav .nav-wrapper .brand-logo {
    font-size: 1.4em !important;
  }

  nav .brand-logo {
    margin-left: 0px !important;
  }
}

